.navigation-top {
  background: #FFFFFF;
  border-top: 1px solid #EEEEEE;
  font-size: 1.6rem;
  position: relative;
}
.navigation-top .wrap {
  max-width: 1000px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;

  &:after {
    clear: both;
    content: "";
    display: block;
  }

}
.navigation-top a {
  color: #222222;
  font-weight: 400;
  transition: color 0.2s;
}
.navigation-top .current-menu-item > a,
.navigation-top .current_page_item > a {
  color: #767676;
}
.main-navigation {
  //border: 4px solid tomato;
}
.main-navigation ul {
  background: #FFFFFF;
  list-style: none;
  margin: 0px;
  padding: 0px 1.5em;
  text-align: left;
}

//Hide the menu on small screens when JS is available
.js .main-navigation ul,
.main-navigation .menu-item-has-children > a > .icon,
.main-navigation .page_item_has_children > a > .icon,
.main-navigation ul a > .icon {
  display: none;
}

.main-navigation > div > ul {
  border-top: 1px solid #EEEEEE;
  padding: 0.75em 1.695em;
}

.js .main-navigation.toggled-on > div > ul {
  display: block;
}

.main-navigation ul ul {
  padding: 0px 0px 0px 1.5em;
}

.main-navigation ul ul.toggled-on {
  display: block;
}





